{% extends 'base.html.twig' %}

{% block title %}Edit Categorias{% endblock %}

{% block body %}
    <h1>Edit Categorias</h1>

    {{ include('categorias/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorias_index') }}">back to list</a>

    {{ include('categorias/_delete_form.html.twig') }}
{% endblock %}
