{% extends 'base.html.twig' %}

{% block title %}New Categorias{% endblock %}

{% block body %}
    <h1>Create new Categorias</h1>

    {{ include('categorias/_form.html.twig') }}

    <a href="{{ path('categorias_index') }}">back to list</a>
{% endblock %}
